
/*  --
@cor-preto: #241f20;
@cor-cinza: #81827f;
@cor-branco: #ffffff;
  --cor-rosa-claro: #f0d7dd;
  --cor-rosa-medio: #e49dac;
  --cor-rosa-escuro: #be495f;
  --cor-marrom-escuro: #a44030;
  --cor-marrom-medio: #c37d5d;
  --cor-marrom-claro: #caa175;
  --cor-verde-claro: #98bcba;
  --cor-verde-medio: #7AA9A6;
  --cor-azul-claro: #a0bbd2;
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  color: #241f20;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.section{
  margin: 0;
}

.widget {
    margin: 0;
}

.session {
  padding: 50px 0;
}

.top {
    text-align: center;
}

.logo_principal {
  width: 300px;
  height: 300px;
}

.img_capa {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.receita {
  text-align: center;
}
.receita .content{
  width: 960px;
  margin: 0 auto;
}

.receita h1 {
  margin-bottom: 40px;
}

.receita img {
  width: 304px;
}

.receita .content a:hover img{
  opacity: 0.7;
}

.receita_link {
  text-transform: uppercase;
  background: #000000;
  color: #ffffff;
  padding: 12px 24px ;
  border-radius: 5px;
}

.clube {
  background-color: #e49dac;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.clube div{
  padding: 30px;
}

.clube div img{
  height: 350px;
}

.clube div p{
  font-style: italic;
  text-align: center;
  width: 400px;
}

.clube_link {
  text-transform: uppercase;
  background: #ffffff;
  color: #be495f;
  padding: 12px 24px ;
  border-radius: 5px;
  font-size: 24px;
}

.iniciante {
  text-align: center;
  display:flex;
  justify-content: center;
}

.iniciante div {
  margin: 0 30px;
}

.iniciante h1 {
  color: #7AA9A6;
  margin-top: -40px;
}
.iniciante p {
  color: #81827F;
}

.util {
  background-color: #7AA9A6;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.util > div {
  padding: 24px;
  text-align: center;
  max-width: 190px;
}
.util img {
}

.util a {
  color: #ffffff;
  text-decoration: none;

}

.util a h2 {
  font-size: 18px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.util a p {
  font-style: italic;
  font-size: 14px;
  padding-top: 8px;
}

.newsletter {
  background-color: #CAA175;
  color: #ffffff;
}

.newsletter p {
  text-align: center;
  font-style: italic;
}

.newsletter #mc_embed_signup form {
  text-align: center;
  margin: 20px 0;
}

.newsletter #mc_embed_signup input.email {
  padding: 8px;
  border: none;
  display: inline;
  width: auto;
  min-height: 0;
  min-width: 160px;
  margin: 0;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

.newsletter #mc_embed_signup .button {
  padding: 8px 26px;
  border: none;
  display: inline;
  width: auto;
  min-height: 0;
  min-width: 90px;
  margin: 0;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #a44030;
  color: #ffffff;
}

.newsletter #mc_embed_signup .button:active {
  background-color: #c37d5d;
  border: none;
}

footer {
  background-color: #a44030;
  color: #ffffff;
  text-align: center;
  padding: 50px 0 30px 0;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}

.ico-logo {
  width: 100px;
}

.social a img {
  padding: 30px 10px;
  width: 48px;
}

.social .youtube { fill: #B30017;}

.ico-footer {
  padding: 30px 10px;
}

table.gsc-search-box {
  margin: 0 auto;
}

input.gsc-input {
  border: 1px #81827f solid;
  color: #241f20;
  border-radius: 5px;
  padding: 6px;
  width: 200px;
}

input.gsc-search-button {
  display: block;
  background-image: url(https://rosiene.github.io/img/ico/search.svg);
  background-color: #fff;
  background-size: 32px;
  width: 32px;
  height: 32px;
  border: none;
  margin: 10px;
}

.post-title {
  font-family: 'Bitter', serif;
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

.date-header span{
  font-style: italic;
  text-align: center;
  line-height: 30px;
  color: #81827f;
}

.blog-posts {
  width: 960px;
  margin: 0 auto;
  border-left: #f0d7dd solid 1px;
  border-right: #f0d7dd solid 1px;
  padding: 30px;
}
