
/*  --
@cor-preto: #241f20;
@cor-cinza: #81827f;
@cor-branco: #ffffff;
  --cor-rosa-claro: #f0d7dd;
  --cor-rosa-medio: #e49dac;
  --cor-rosa-escuro: #be495f;
  --cor-marrom-escuro: #a44030;
  --cor-marrom-medio: #c37d5d;
  --cor-marrom-claro: #caa175;
  --cor-verde-claro: #98bcba;
  --cor-verde-medio: #7AA9A6;
  --cor-azul-claro: #a0bbd2;
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  color: #241f20;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100 !important;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.section{
  margin: 0;
}

.widget {
    margin: 0;
}

.session {
  padding: 50px 0;
}

.top {
  text-align: center;
  padding: 20px;
}

.titlewrapper h1{
  font-family: 'Bitter', serif;
  color: #a44030;
  font-weight: 600;
  font-size: 64px;
}

.descriptionwrapper{
  margin-top: -24px;
}

.logo_principal {
  width: 300px;
  height: 300px;
}

.img_capa {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.Header .description {
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: #caa175;
  font-size: 28px;
}

#HTML8 .title{
  text-align: center;
}

#HTML8 .widget-content{
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.BlogSearch {
  width: 300px;
  margin: 0 auto;
}

form.gsc-search-box {
  border-bottom: dotted 1px #81827f;
}

.receita {
  text-align: center;
}

.receita .content{
  width: 960px;
  margin: 0 auto;
}

.receita h1 {
  margin-bottom: 40px;
}

.receita img {
  width: 304px;
}

.receita .content a:hover img{
  opacity: 0.7;
}

.receita_link {
  text-transform: uppercase;
  background: #241f20;
  color: #ffffff;
  padding: 12px 24px ;
  border-radius: 5px;
  font-weight: 200;
}

.receita_link:hover {
  text-decoration: none;
  background: #be495f;
}

.clube {
  background-color: #e49dac;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clube div{
  padding: 30px;
}

.clube div img{
  height: 350px;
}

.clube div p{
  font-style: italic;
  text-align: center;
  width: 400px;
}

.clube_link {
  text-transform: uppercase;
  font-weight: 200;
  background: #ffffff;
  color: #be495f;
  padding: 12px 24px ;
  border-radius: 5px;
  font-size: 24px;
}


.clube_link:hover {
  text-decoration: none;
  background: #be495f;
  color: #ffffff;
}

.iniciante {
  text-align: center;
  display:flex;
  justify-content: center;
}

.iniciante div {
  margin: 0 30px;
}

.iniciante div a{
  font-weight: 200;
}

.iniciante h1 {
  color: #7AA9A6;
  margin-top: -40px;
}
.iniciante p {
  color: #81827F;
}

.util {
  background-color: #7AA9A6;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.util > div {
  padding: 24px;
  text-align: center;
  max-width: 190px;
}
.util img {
}

.util a {
  color: #ffffff;
  text-decoration: none;

}

.util a h2 {
  font-size: 18px;
  padding: 8px 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.util a p {
  font-style: italic;
  font-size: 14px;
  padding-top: 8px;
}

.newsletter {
  background-color: #CAA175;
  color: #ffffff;
}

.newsletter p {
  text-align: center;
  font-style: italic;
}

.newsletter #mc_embed_signup form {
  text-align: center;
  margin: 20px 0;
}

.newsletter #mc_embed_signup input.email {
  padding: 8px;
  border: none;
  display: inline;
  width: auto;
  min-height: 0;
  min-width: 160px;
  margin: 0;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

.newsletter #mc_embed_signup .button {
  padding: 8px 26px;
  border: none;
  display: inline;
  width: auto;
  min-height: 0;
  min-width: 90px;
  margin: 0;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #a44030;
  color: #ffffff;
}

.newsletter #mc_embed_signup .button:active {
  background-color: #c37d5d;
  border: none;
}

footer {
  background-color: #a44030;
  color: #ffffff;
  text-align: center;
  padding: 50px 0 30px 0;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}

.ico-logo {
  width: 100px;
}

.social a img {
  margin: 30px 10px;
  width: 48px;
}

.social .youtube { fill: #B30017;}

.ico-footer {
  padding: 30px 10px;
}

input.gsc-input {
  color: #be495f;
  font-size: 16px;
  padding: 6px;
  border: none;
  display: inline;
  outline: 0;
  width: calc(100% - 36px);
}

.search {
  margin-top: 20px;
}

.search input[type=submit]{
  display: none;
}

.search-ico{
  cursor: pointer;
  height: 18px;
  width: 18px;
  min-width: 18px;
  margin: -9px;
  padding: 9px;
}

.blog-posts {
  width: 960px;
  margin: 10px auto;
  padding: 30px;
  border: #f0d7dd dotted 1px;
}

.blog-posts a{
  color: #be495f;
  font-weight: 600;
}

.blog-posts a:hover {
  text-decoration: underline;
}

.post-title {
  font-family: 'Bitter', serif;
  color: #be495f;
  font-size: 42px;
  text-align: center;
  margin-top: 20px;
  border-bottom: #e49dac dotted 1px;
}

.date-header {
  font-weight: 100;
  text-align: center;
  line-height: 28px;
  color: #e49dac;
  margin-bottom: 20px;
}

.post-footer-line {
  text-align: center;
  margin: 20px;
}

.post-labels a {
    text-decoration: none;
    color: #fff;
    background: #e49dac;
    padding: 10px 16px;
    border-radius: 30px;
    margin: 3px;
}

.post-labels a:hover {
  background: #be495f;
}

.comment-footer {
  margin: 0;
}

.comments {
  padding: 16px;
  background: #fff;
}

.comments h4 {
  font-weight: 200;
  font-size: 24px;
  line-height: 42px;
}

.comments .avatar-image-container {
  border-radius: 36px;
}

.comments .comments-content .datetime {
  font-size: 12px;
  font-style: italic;
}

.comments .comment .comment-actions a {
  text-decoration: none;
  color: #fff;
  background: #e49dac;
  padding: 3px 6px;
  border-radius: 6px;
  margin: 3px;
}

.comment-actions a:hover {
  background: #be495f;
  text-decoration: none;
}

.share-button {
    width: 44px;
    height: 44px;
    background: none !important;
    overflow: hidden;
    margin: 3px;
}

.status-msg-border {
  border: none
}
.status-msg-bg {
  background-color: #f0d7dd;
}
.list-post{
  width: 50%;
  display: inline-block;
}
.post-featuredImage {
  max-width: 100%;
  max-height: 100%;
}
