body{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1{
  font-weight: 200;
  font-style: normal;
  font-size: 54px;
}

h3 {
  color: #555;
}

h3 a {
  color: #555;
}

h3 a:hover {
  color: #111;
}

img {
  border-radius: 150px;
  margin: 40px;
}

.social{
  padding: 10px;
}

.social a{
  color: #bbb;
  margin: 5px;
  text-decoration: none;
}

.social a:hover{
  color: #777;
}

@media only screen and (max-width: 369px) {

  img {
    margin: 10px;
    width: 300px;
  }

  h1{
  font-size: 38px;
  }

  h3{
  font-size: 16px;
  }
}
