
img/.DS_Store
dev/.DS_Store
dev/img/gola/.DS_Store
dev/img/.DS_Store
dev/img/barra/.DS_Store
dev/img/medidas/.DS_Store
dev/.DS_Store
dev/img/barra/.DS_Store
dev/img/barra/.DS_Store
mrp/img/.DS_Store
mrp/img/gola/.DS_Store
mrp/img/manga/.DS_Store
mrp/img/medidas/.DS_Store
mrp/img/barra/.DS_Store
dev/img/barra/.DS_Store
dev/img/barra/.DS_Store
dev/img/barra/.DS_Store
dev/img/barra/.DS_Store
