body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
p {
  line-height: 2.5;
}

.identacao{
  margin: 12px 0px 12px 28px;
}

.identacao p{
  line-height: 1.5;
}

.cabecalho {
  text-align: center;
}

.cabecalho img{
  width: 120px;
}

.cabecalho h2 {
  font-size: 24px;
}
.cabecalho h3 {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
.resultado h5 {
  margin-top: 20px;
  font-weight: 600;
}
.resultado img {
  width: 36%;
}

.rodape {
  text-align: center;
  margin: 40px auto;
  font-style: italic;
}
.sessao_peca {
  font-weight: 600;
}
