body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
p {
  line-height: 1.8;
}

.identacao{
  margin: 12px 0px 12px 28px;
}

.identacao p{
  line-height: 1.5;
}

.cabecalho {
  text-align: center;
}

.cabecalho img{
  width: 120px;
}

.cabecalho h2 {
  font-size: 20px;
}
.cabecalho h3 {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
.resultado h5 {
  margin-top: 12px;
  font-weight: 600;
}
.tamanho {
  display: flex;
  align-items: center;
}
.tamanho div{
  width: 50%;
}
.tamanho img{
  width: 90%;
}
.tamanho table {
  margin-top: 20px;
  border-collapse: collapse;
}
.tamanho table tr {
  border-bottom: 1px dotted #f6b163;
}
.tamanho table tr td {
  padding: 2px 12px;
}

.tamanho .tabela_valores{
  text-align: right;
}
.rodape {
  text-align: center;
  margin: 40px auto;
  font-style: italic;
}
.sessao_peca {
  font-weight: 600;
}
